body
        {
            background-image: url('market.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .box
        {
            background-color: white;
            width:50%;
            height: 500px;
            margin-left: 25%;
            margin-top: 5%;
            border: 2px solid rgb(201, 14, 132);
            
        }

        .namepay
        {
            color:red;
        }
        .pay-button
        {
           padding:12px;
           background-color: rgb(201, 14, 132);
           color:white;
           border: none;
           font-weight: bolder;
           cursor: pointer;
           margin-top: 45%;
           margin-left: 43%;

        }
        
